.proyectos {
    width: 100%;
}

.cardsSection {
    padding: 50px 5%;
    margin-top: 0;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

@media (max-width: 768px) {
    .cardsSection {
        padding: 30px 5%;
    }
}